:root {
    font-size: 18px;
    color:#2d3748;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, "Noto Sans", sans-serif;
}

.container {
padding: 40px;
display: grid;
grid-template-columns: 30% 40% 40%;
grid-template-rows: auto;
grid-template-areas:
"header header header"
"main main sidebar"
"footer footer footer";

}

header {

display: flex;
grid-area: header;
flex-direction: column;
align-items: center;
background-color: #63B3ED;
color: #ffffff;

}

main {

    grid-area: main;
    margin-bottom: 20cm;
    padding-left: 5%;
    margin-right: 10%;
}

aside {

    grid-area: sidebar;
    margin-right: 12%;
    width: auto;
    height: 60%;
    float: right;
    top: 15px;
    right: 15px;
    overflow: hidden;
    margin-top: 8px;
  
}

section ul {

    list-style: none;
    padding-left: 0%;
}

footer {

    grid-area: footer;
    background-color: #2C5282;
    color: #ffffff;
    height: 40px;
    padding: 10px 10px 10px 10px; 
}

header h1 {

    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

article p {

    margin-top:  25px;

}



article h2 {

    font-size: 32px;
    color: #48BB78;

}

article span {
    display: block;
    color:#718096;
    
}

img {
    border-radius: 100%;
}

li a {

    color: #4299E1;
    text-decoration: none;
}

hr {

    margin-top: 20px;
    border: 1px solid #eeee;
}

.kili {

    height: 500px;
    width: 300px;
    margin-top: 50px;

}

.myblog {

    width: 100%;

}

.pixs {

    float: left;
    margin-top: 30px;
    margin-right: 20px;
    height: 150px;
    width: 150px;
}

#Archives {
    color: #48bb78;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
}

#Social {
    color: #48bb78;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#About {
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #e2e8f0;
    padding: 6px;
}